.postCard {
	&__titleContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&--options {
			position: absolute;
			right: 20px;
			display: none;
			flex-direction: column;
			background-color: #b9bbbe;
			padding: 5px;
			border-radius: 5px;
			&::before {
				content: '';
				position: absolute;
				display : inline-block;
				top: -10px;
				right: 15px;
				height : 0;
				width : 0;
				border-right : 10px solid transparent;
				border-bottom : 14px solid #b9bbbe;
				border-left : 10px solid transparent;
			}
		}
	}
	&__profilContainer {
		display: flex;
		&--txt {
			flex-direction: column;
		}
	}
	&__imgProfil {
		width: 55px;
		height: 55px;
		object-fit: cover;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 50%;
		margin-right: 10px;
	}
	&__img {
		width: 100%;
		height: 100%;
		max-height: 500px;
		object-fit: cover;
		border:  1px solid rgba(0, 0, 0, 0.125);
	}
	&__description {
		margin: 0 5px 0;
	}
	&__iconLike {
		color: blue;
	}
	&__iconInfoContainer {
		display: flex;
		justify-content: space-around;
	}
}

.fa-circle {
	font-size: 0.7rem;
}

li {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
}