<li class="list-group-item my-4">
	<div class="container-fluid postCard">
		<div class="postCard__titleContainer">
			<h3>{{ postTitle }}</h3>
			<div (click)="onPostSetting(thisPost)" *ngIf="isMyPost">
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<i class="fas fa-circle"></i>
				<div class="postCard__titleContainer--options" #thisPost>
					<ul class="list-group">
						<li class="list-group-item list-group-item-action list-group-item-success" (click)="onModify()">
							Modifier</li>
						<li class="list-group-item list-group-item-action list-group-item-danger" (click)="onDelete()">
							Supprimer</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="postCard__profilContainer">
			<img src="{{ postUserUrl }}" alt="photo_profil" class="postCard__imgProfil">
			<div class="postCard__profilContainer--text">
				<div class="postCard__names">par {{ postFirstName }} {{ postLastName }}</div>
				<div class="postCard__date">Le {{ postDate | date:'MMM d, y, h:mm:ss a' }}</div>
			</div>
		</div>
		<img src="{{ postUrl }}" alt="" class="postCard__img my-2">
		<p class="postCard__description">{{ postDescription }}</p>
		<hr>

		<div class="postCard__iconInfoContainer">
			<a class="postCard__iconInfoContainer--likes" (click)="onLike()"> {{ postNbLikes }} <i class="far fa-thumbs-up"></i> J'aimes</a>
			<div class="postCard__iconInfoContainer--usersLike">
				<span *ngFor="let user of postLikesUsersListe">{{user.firstName}} {{user.lastName}} <br></span>
			</div>
			<span> {{ postNbCommentaires }} <i class="far fa-comment-alt"></i> Commentaires</span>
		</div>
		<hr>

		<app-messages *ngFor="let message of messages" [messageUserId]="message.userId" [content]="message.content"
			[messageId]="message.id" (oneLessMessage)=onDeleteMessage()></app-messages>

		<form [formGroup]="messageForm" class="mt-3 messageFormulaire">
			<div class="form-group messageFormulaire__formGroup">
				<textarea formControlName="newMessage" rows="1" id="newMessage" class="form-control" placeholder="Nouveau message"></textarea>
			</div>
			<i class="fas fa-angle-double-right messageFormulaire__Icon" (click)="onNewMessage()"></i>
		</form>

	</div>
</li>