<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<h1>Ajouter un post</h1>

		<form enctype="multipart/form-data" [formGroup]="postForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="title">Titre</label>
				<input type="text" id="title" class="form-control" formControlName="title">
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" id="description" class="form-control" formControlName="description">
			</div>
			<div class="form-group">
				<label for="postImg">Image</label>
				<input type="file" id="postImg"
					accept="image/png, image/jpeg, image/bmp, image/webp, image/svg+xml, image/gif" class="form-control"
					formControlName="postImg" (change)="onFileAdded($event)" required>
			</div>

			<button class="btn btn-primary" type="submit" [disabled]="postForm.invalid">Créer un post</button>
		</form>
		<p class="text-danger">{{ errorMessage }}</p>
	</div>
</div>