<header class="p-3 bg-dark text-white">
	<nav class="container-fluid">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<img src="../../assets/icon-left-font-monochrome-white.png" alt="" class="logo">
			<ul class="nav col-12 col-md-12 col-lg-6 me-lg-auto mb-2 justify-content-center md-0 my-2">
				<li><a routerLink="post-list" class="btn btn-primary mx-2">Forum</a></li>
				<li><a routerLink="" class="btn btn-primary mx-2">New post</a></li>
				<li><a routerLink="" class="btn btn-primary mx-2">Compte</a></li>
			</ul>

			<div>
				<button type="button" class="btn btn-outline-light me-2 mx-2" routerLink="auth/signup" *ngIf="!isAuth">Créer un compte</button>
				<button type="button" class="btn btn-warning" routerLink="auth/signin"  *ngIf="!isAuth">Connexion</button>
				<button type="button" class="btn btn-warning" (click)="onSignOut()"  *ngIf="isAuth">Déconnexion</button>
			</div>
		</div>
	</nav>
</header>